.gray{background-color:#e4e1e1c5}

mat-row:hover{
    background-color:#181818c5;
    mat-cell{
        color:#ffffff
    }
}

.progress-spinner{
    position: fixed;
    z-index:999;
    height: 2em;
    width:2em;
    overflow:show;
    margin:auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
}