
<h1>Dunder Mifflin Employees</h1>

<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let person"> {{person.firstName}} {{person.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Locations </mat-header-cell>
        <mat-cell *matCellDef="let loc"> {{loc.locations}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsDisplay"></mat-header-row>

    <mat-row *matRowDef="
                let row; 
                columns:columnsDisplay; 
                let even = even;" 
                [ngClass] = "{gray:even}"
                class="employee-row">
    </mat-row>
    
</mat-table>

<mat-spinner *ngIf="!people||!locations" class="progress-spinner" ></mat-spinner>
